#class-list
	animation-duration 500ms !important
	width 100%

#changer
	animation-duration 500ms !important
	
.unselectable
	user-select none

@keyframes displayList
	0%
		position absolute
		left 100%
	100%
		position absolute
		left 0


@keyframes charger
	0% 
		width 50%
		position absolute
		bottom 100%

	100%
		width 50%
		position absolute
		bottom 53%