:root{
	--legend-color: 1.2em;
	--legend-text: 5em;
	--profesor-size: 11px;
	--aula-size: 12px;
	--min-width: 10em;
}

*, *::after, *::before{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-size: 16px; 
	font-family: "robotomedium";
}
.body {
	display: grid;
}

.td:hover{
	transform: scale(1.05);
}

.td {
	display: grid;
	background: #fff;
	transition-duration: .1s;
}
.td:active {
	border: 1px solid orange;
}
.thorario {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #A9A9A9;
}
.th {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #818181;
}
.legends {
	grid-template-columns: repeat(10, var(--legend-color) var(--legend-text));
	display: inline-block;

	grid-column: 1;
	grid-row: 2;
}
.horario {
	grid-template-columns: repeat(7, 1fr);
}
.tabla {
	display: grid;
	grid-template-columns: repeat(7, 1fr)
}
.th, .td, .thorario {
	min-height: 3em;
	text-align: center;
	padding: .2em;
	border: 1px solid rgba(0, 0, 0, 0.3);
}
.th{
	grid-row: 1;
	font-weight: bold;
}
.profesor {
	display: flex;
	flex-direction: column;

	grid-row: 1;
	grid-column: 1;

	height: 100%;
	width: 100%;
	justify-content: flex-end;
	text-align: right;
	font-size: var(--profesor-size);
}
.materia {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-row: 1;
	grid-column: 1;
	height: 100%;
	width: 100%;
}
.aula {
	display: flex;
	justify-content: flex-end;
	text-align: left;
	flex-direction: column;
	grid-row: 1;
	grid-column: 1;
	height: 100%;
	width: 100%;
	font-size: var(--aula-size);
}
.grupo {
	background: #53004E;
}
.lista {
	display: grid;
	grid-template-rows: repeat(100, 1fr);
	overflow: scroll;
	grid-template-columns: 2fr 2fr 1fr;
}
.th-list {
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border: 1px solid lightgrey;
	color: white;
}
.td-list {
	border-left: 2px solid black;
	border-bottom: 2px solid black;
}
.tr-list {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-template-columns: 2fr 2fr 1fr;
	display: grid;
}
.tr-list:nth-child(even) {
	background-color: #ABABAB;
}
.tr-list:nth-child(odd) {
	background: #838383;
}

.aula-F1 {
	background-color: #00C76E;
}
.aula-F2 {
	background-color: #00AA18;
}
.aula-F3 {
	background-color: #079353;
}
.aula-F4 {
	background-color: #037E46;
}
.aula-F5 {
	background-color: #006336;
}
.aula-S1 {
	background-color: #FF0000;
}
.aula-S2 {
	background-color: #CD0000;
}
.aula-S3 {
	background-color: #AE0000;
}
.aula-S4 {
	background-color: #790000;
}
.aula-S5 {
	background-color: #570000;
}
.aula-gimnasio1, .aula-Gimnasio1 {
	background-color: #A7A7A7;
}
.desconocido {
	background-color: white;
}
.unselectable {
  user-select: none;
}
.panel {
	width: 80%;
	display: block;
	align-content: center;
	border-radius: 5px;
	text-align: center;
}

.panel>.panel-title p, .panel>.panel-title{
	border: 1px solid black;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	text-shadow: 2px 1px black;
	min-width: var(--min-width);
	padding: 4px;
	color: white;
	background: linear-gradient(to right, black, blue);
}

.panel>.panel-content p,.panel>.panel-content{
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid black;
	height: 10em;
	text-shadow: 1px 1px 1px #444;
	min-width: var(--min-width);
	padding: 4px;
	color: black;
	background: linear-gradient(to bottom right, white, #AAA);
}
.input-text {
	border-radius: 0.4em;
	min-height: 2em;
	min-width: 80%;
	max-width: 90%;
}
.selector {
	border-radius: 0.4em;
	min-height: 2em;
	margin-bottom: .2em;
}
.input-button {
	border: 2px ridge #333;
	background-color: #666;
	border-radius: 0.4em;
	min-height: 2em;
	min-width: 50%;
	max-width: 90%;
}
.box {
	height: 4em;
	width:100%;
}